<% if(typeof user == "undefined"){
		var user = false;
	} else{
		var fullName = user.firstName + ` ` + user.lastName;
	}

	
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/share.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Home</title>
</head>

<body>
    
    <header>
		<div class="container">
			<img src="/images/favicon.ico" alt="Logo">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/dashboard">Dashboard</a></li>
				</ul>
			</nav>
			<% if (user) { %>
			 
			<div id="user" class="user">
				<div style="background-image: url('images/protraits/<%=user.img%>');">
						
				</div>
				<div>
					<%=fullName%>
				</div>
				<%-`<div style="background-color:` %><%=user.status%><%-`;">`%>
					
				</div>
			</div>

			<% } %>
		</div>
	</header>

